/*data
build*
VISIOinterface/*
!VISIOinterface/*.pro
!VISIOinterface/*.cpp
!VISIOinterface/*.h
VISIOinterface/ui*
VISIOinterface/ftd2xx.dll
VISIOinterface/ftd2xx.h
VISIOinterface/ftd2xx.lib
VISIOinterface/VISIOinterface.pro.user
VISIOinterface_HW/*
!VISIOinterface_HW/HDL
VISIOinterface_HW/HDL/*.bak
VISIOinterface_HW/HDL/**/*.bak
!VISIOinterface_HW/VISIOinterface.qpf
!VISIOinterface_HW/VISIOinterface.qsf